<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>
	<nav layout:fragment="header" aria-label="breadcrumb" role="navigation">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#" th:href="@{/clientes/list}">Clientes</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Novo Cliente</li>
	  </ol>
	</nav>

	<div layout:fragment="content" class="container">
	
		<form id="livroForm" th:action="@{/clientes/(form)}" method="post" th:object="${cliente}" action="#" >
		
			<div class="form-group row">
		
				<input type="hidden"  th:field="*{id}" />
				
				<label for="staticTitulo" class="col-sm-2 col-form-label">Título</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{nome}"  class="form-control-plaintext" id="staticTitulo" />
	      			<span  th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
	    		</div>
	    			
	    		<label for="staticPaginas" class="col-sm-2 col-form-label">Endereço</label>
				<div class="col-sm-10">
	      			<input type="text" th:field="*{endereco}" class="form-control-plaintext" id="staticPaginas" />
	      			<span  th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}">Endereço Error</span>
	    		</div>
	    		
	    		<label for="staticPaginas" class="col-sm-2 col-form-label">Data de nascimento</label>
				<div class="col-sm-10">
	      			<input type="date" th:field="*{dataNascimento}" class="form-control-plaintext" id="staticPaginas" />
	      			<span  th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Data de nascimento Error</span>
	    		</div>
	    			
    			<button type="submit" class="btn btn-primary">gravar</button>
			
			</div>
		</form>
	</div>
	
</body>
</html>